/* Style the header with a grey background and some padding */
.body {
    margin: 0px;
    padding: 0px;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    background-image: url("Slike/header.png");
    background-size: cover;
    padding: 40px 10px;
    margin: 0px 2px 0px 2px;
}



/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }

}


/* Style the tab buttons */
.tablink {
    background-color: #e6e6e7;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 12px;
    width: 5%;
    margin: 20px 2px 0px 2px;
}

/*Promjena boje buttona na dodir*/
.tablink:hover {
    background-color: #2b97c7;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

.podheader {
    width: 100%;
    float: left;
}




/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    background-color: #e6e6e7;
}

.forma {
    width: 100%;
    float: left;
    margin-top: 20px;
    background-color: #e6e6e7;
}


/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #2b97c7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


/* Add padding to containers */
.container {
    padding: 160px;
}